<!DOCTYPE html>
<html>
    <%
        var title = activity.get('title');
        var tags = activity.get('tagNames');
        var index_thumb_image = '/suaxu/suaxu.png';
        var thumb_images = activity.get('thumb_images');

        var pay_type = activity.get('pay_type');
        var price = '';
        if (pay_type == 1) {
            price = '免费';
        } else if (pay_type == 2 || pay_type == 3) {
            price = '￥' + activity.get('price') + '/人';
        }
        var optionUser = user;
        var startTime = activity.get('activity_time');
        var endTime = activity.get('activity_end_time');
        var deadTime = activity.get('dead_time');
        var wxIcon = thumb_images&&thumb_images[0] || '/images/share/logo.png';
        wxIcon = wxIcon.concat('?imageView2/1/w/300/h/300');
    %>

<head>
    <title>撒哈拉活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/page.css?2015022801"/>
    <script type="text/javascript" charset="utf-8" src="/suaxu/common.js"></script>
    <link rel="stylesheet" href="/suaxu/mobile_common.css" type="text/css">
    <link rel="stylesheet" href="/suaxu/mobile_act.css" type="text/css">
    <script src="/suaxu/function.js"></script>
    <script src="/js/layer.m.js"></script>
</head>
<body>
<link type="text/css" href="/suaxu/act_detail.css" rel="stylesheet">

<script>
    function formatDate(date,format) {
        var val = Date.parse(date);
        var newDate = new Date(val);
        return   newDate.format(format)
    }
</script>


<div id="act_detail">
    <div id="actContent" class="auto-center">
        <div class="mtitle">
            <div class="mimg">
                <img src="<%= index_thumb_image %>" style="display:block;" width="100%">

                <div class="leader_img">
                    <a href="#"><img src="<%= optionUser.get('icon') %>"></a>
                    <span><%= optionUser.get('nickname') %></span>
                </div>
            </div>

            <div class="mcobtn">
                <div id="actName"><p
                            style="font-size:14px;padding:5px 10px 0 10px;color:#000;line-height:20px;"><%= activity.get('title') %></p>
                </div>
                <div style="margin-top:8px;margin-bottom: 3px;">
                    <span style="margin-left:15px;"><font color="#f68a1e" size="4pt;"><%= price %></font></span>
        <span style="display: block;font-size:14px;float:right;color:#898989;margin-right:15px;">
        <span id="acttime" style="color:#898989">报名截止时间:<%=deadTime%></span></span>
                </div>
            </div>

            <!---------------------------------------------------------------------------->
            <div id="act_title" class="uc-important-box">
                <div class="title_left">
                    <img src="/suaxu/04.png" width="20">

                    <p><span style="color:#898989;" ><script>document.write(formatDate("<%=activity.get('activity_time')%>","yyyy-mm-dd"))</script>      至 <script>document.write(formatDate("<%=activity.get('activity_end_time')%>","yyyy-mm-dd"))</script></span></p>
                    <img src="/suaxu/lx.jpg" style="margin-top:3px;" width="20">
                    <p>
                        <% for (var i in tags) { %>
                        <%= tags[i] %>
                        <% } %>
                    </p>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="background-color:#F9F9F9;height:10px;"></div>
            <!--参加人员-->
            <div class="uc-recommend-box">
                <div class="recommend-title">
                    <span style="">他们也报名了（<%= activity.get('current_num') %>人）</span>

                    </a>
                </div>
                <div class="join_person">
                    <ul>
                        <% if (activityUser){ %>


                        <% activityUser.forEach(function (item){ %>
                        <li>
                            <a>
                            </a>

                            <div class="radius"><a>
                                </a><a href="javascript:void(0)"><img
                                            src="<%= item.get('user_id').get('icon') ? item.get('user_id').get('icon').concat('?imageView2/2/w/50') : "/suaxu/gg.png" %>"
                                            style="height:50px;width:50px;"></a>
                            </div>
                            <div class="person_name"><%= item.get('user_id').get('nickname') %></div>
                        </li>
                        <% })
                        } %>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
            </div>


            <!---------------------------------------------------------------------------->
            <div id="dy_details">
                <div style="background-color:#F9F9F9;height:10px;"></div>

                <div class="uc-rebox-box">

                    <div id="actDetailBoxNav_bulid" class="rebox-title">
                        <div>
                            <ul class="rebox-ul actDetailBoxNav">
                                <li class="active" data-value="rebox-journey"><span class="rebox-in" >图集</span></li>
                                <li class="" data-value="rebox-cost"><span class="rebox-in">详情</span></li>
                                <li class="" data-value="rebox-notice"><span class="rebox-in">费用</span></li>
                            </ul>
                        </div>
                    </div>


                    <div style="display: none;" id="actDetailBoxNav" class="rebox-title">
                        <div>
                            <ul class="rebox-ul actDetailBoxNav">
                                <li class="active" data-value="rebox-journey"><span class="rebox-in">图集</span></li>
                                <li class="" data-value="rebox-cost"><span class="rebox-in">详情</span></li>
                                <li class="" data-value="rebox-notice"><span class="rebox-in">费用</span></li>
                            </ul>
                        </div>
                    </div>


                    <div style="clear:both"></div>
                    <div class="rebox-intro" style=" overflow:hidden;padding:0 10px;">
                        <!--行程-->
                        <div id="rebox-journey" class="rebox-journey" style="display: block;">

                            <% if (thumb_images){ %>
                            <% thumb_images.forEach(function (item){ %>
                            <img src="<%=item%>" style="padding-bottom: 10px;" width="100%">

                            <% })
                            } %>
                        </div>
                        <!--费用-->
                        <div id="rebox-cost" class="rebox-cost" style="display:none;">
                            <div class="rebox-detail">
                                <div class="rebox-forin">
                                    <p style="clear: both; white-space: normal;">
                                        【活动开始时间】：
                                        <script>document.write(formatDate("<%=activity.get('activity_time')%>","yyyy-mm-dd hh:MM:ss"))</script>
                                    </p>

                                    <p style="clear: both; white-space: normal;">
                                        【活动结束时间】：
                                        <script>document.write(formatDate("<%=activity.get('activity_end_time')%>","yyyy-mm-dd hh:MM:ss"))</script>
                                    </p>
                                    <p style="clear: both; white-space: normal;">
                                        【活动地点】：<%= activity.get('place') %>
                                    </p>

                                    <p style="clear: both; white-space: normal;">
                                        【报名进度】：<%= activity.get('current_num') %>
                                        /<%= activity.get('max_num')==0?'无限制':activity.get('max_num') %>
                                    </p>

                                    <p style="clear: both; white-space: normal;">
                                        【活动详情】：<pre><%- activity.get('intro') %></pre>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!--须知-->
                        <div id="rebox-notice" class="rebox-notice" style="display:none;">
                            <div class="rebox-detail">
                                <div class="rebox-forin">
                                    <p style="clear: both; white-space: normal;">
                                        【支付方式】:
                                        <% if (activity.get('pay_type') == 1){ %>
                                        免费
                                        <% } else if (activity.get('pay_type') == 2) { %>
                                        在线支付
                                        <% } else if (activity.get('pay_type') == 3) { %>
                                        线下支付
                                        <% } %>
                                    </p>

                                    <p style="clear: both; white-space: normal;">
                                        【活动费用】：<%= price %>
                                    </p>

                                    <p style="clear: both; white-space: normal;">
                                        【费用描述】：<%= activity.get('price_info')?activity.get('price_info'):'' %>
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div style="background-color:#F9F9F9;height:10px;"></div>

            </div>
        </div>
    </div>
</div>


<div class="download" id="downloadDiv">
    <div class="accept">
        <a id="applink" href="javascript:void(0)">接受邀请</a>
    </div>

</div>


<script type="text/javascript">
    //计算dt和当前时间的间距，表示方式为 x天,xx.xx.xx
    //dt 为标准的日期格式的字符串,containerID为内容显示的ID,frequency为频率
    var intervalId = '';
    function clockInt(endDate, id) {
        this.container = document.getElementById(id);
        this.end = new Date(endDate.replace(/-/g, "/")).getTime();
        this.star = new Date().getTime();
        this.getCurentTxt = function () {
            var mills = this.end - this.star;
            if (mills <= 0) {
                this.container.innerHTML = "截止报名";
                if (intervalId) {
                    window.clearInterval(intervalId);
                }
                return;
            }
            var v = {};
            v.d = Math.floor(mills / (24 * 60 * 60 * 1000));
            v.h = Math.floor((mills - v.d * 24 * 60 * 60 * 1000) / (60 * 60 * 1000));//获得小时数据
            v.m = Math.floor((mills - v.d * 24 * 60 * 60 * 1000 - v.h * 60 * 60 * 1000) / (60 * 1000));//分钟数
            v.s = Math.floor((mills - v.d * 24 * 60 * 60 * 1000 - v.h * 60 * 60 * 1000 - v.m * 60 * 1000) / 1000);//秒数
            this.container.innerHTML = "报名剩余时间:" + v.d + "天" + v.h + ":" + v.m + ":" + v.s;
            this.star += 1000;
        }
    }


    var clickObj = new clockInt("<%=deadTime%>", "acttime");
    window.setInterval("clickObj.getCurentTxt()", 1000);

    $('.actDetailBoxNav li').bind('click', function () {
        var i = $(this).index();
        var value = $(this).attr('data-value');
        $('.actDetailBoxNav li').removeClass('active');
        $('#actDetailBoxNav li').eq(i).addClass('active');
        $('#actDetailBoxNav_bulid li').eq(i).addClass('active');
        $('.rebox-intro').children().hide();
        $('.' + value).show();
        /* var scrollTop = $('#actDetailBoxNav_bulid').length ? $('#actDetailBoxNav_bulid').offset().top : 0;
         $("html,body").scrollTop(scrollTop);*/
        setTimeout(function () {
            $(window).trigger('scroll');
        }, 100);
    });

    var nav_child = $('#actDetailBoxNav_bulid .actDetailBoxNav').children().length;
    $(window).bind('scroll touchmove touchend', function () {
        if (nav_child > 1) {
            var scrollTop = $('#actDetailBoxNav_bulid').length ? $('#actDetailBoxNav_bulid').offset().top : 0;
            var docScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (docScrollTop >= scrollTop) {
                $('#actDetailBoxNav').show();
            } else {
                if ($('.actDetailBoxNav').length > 0) {
                    $('#actDetailBoxNav').hide();
                }
            }
        }
    }).trigger('touchend');

    if (nav_child == 0 || nav_child == 1) {
        $('.uc-rebox-box .rebox-title').hide();
    }
    $('.rebox-intro').children().hide();
    var value = $('#actDetailBoxNav_bulid li.active').attr('data-value');
    $('.' + value).show();


    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

    var applink = $("#applink")[0];
    function disableAppLink() {
        applink.style.background = "#F7F7F7";
        applink.href = "javascript:void(0)";
        applink.innerText = "无效邀请码";
        applink.style.color = '#000';
    }

    var invitationCodeStatus = '<%=invitationCodeStatus %>';
    var invitationCode = getUrlParam("invitation_id");


    if (!invitationCodeStatus) {
        disableAppLink();
    }
    else {
        $("#applink").click(function () {
            if (isiOS) {
                var page = layer.open({
                    type: 1,
                    content: '<div> \
											<p align="center" style="color: #fff;font-size:18px; line-height:63px;">请长按邀请码复制</p> \
											<p id="invite_code" style="background-color:#ffffff; color:#D7D7D7; font-size:22px; margin:0px 30px; padding:20px 0px; text-align:center;">' + invitationCode + '</p> \
											<p align="center" style="color: #fff;font-size:14px; line-height:63px;">复制完后，打开撒哈拉APP加入活动</p> \
							         	 </div>',
                    style: 'width:86%; height:200px; border-style:solid; border-width:1px; background-color:#36cad8',
                    shadeClose: true,
                    success: function (olayer) {
                        $("#invite_code")[0].oncopy = function () {
                            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.honglu.sahala";
                        };
                    }
                });
            }
            else if (isAndroid) {
                var page = layer.open({
                    type: 1,
                    content: '<div> \
											<p align="center" style="color: #fff; font-size:14px; margin-top: 30px;">第一步:</p> \
											<p align="center" style="color: #fff; font-size:18px; margin-top: 20px;">请长按邀请码复制</p> \
											<p align="center" style="padding-top:15px;width: 300px;height: 35px ;background-color: #ffffff ;border-radius: 3px;margin:0 auto;font-size: 18px;color: #727272;margin-top:15px;">' + invitationCode + '</p> \
											<p align="center" style="color: #fff;font-size:14px; margin-top: 30px;">第二步:</p> \
											<p id="openApp" align="center" style="padding-top:15px;width: 220px;height: 35px ;background-color: #ffffff ;border-radius: 3px;margin:0 auto;font-size: 18px;color: #36cad8;margin-top:15px;">打开撒哈拉APP</p> \
							          	</div>',
                    style: 'width:86%; height:340px; border-style:solid; border-width:1px; background-color:#36cad8',
                    shadeClose: true,
                    success: function (olayer) {
                        $($("#openApp")[0]).click(function () {
                            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.honglu.sahala";
                        });
                    }
                });
            }
            else {
                window.location.href = "http://www.imsahala.com";
            }
        })
    }

</script>
</body>

</html>