<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, minimal-ui" />
    <title>我分享了一个撒哈拉精选--<%= title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css?2015022801" type="text/css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/common.js?2015040101"></script>
    <!-- load lazy load javascript -->
    <script src="/js/echo.min.js"></script>
    <script language="JavaScript">
        $(document).ready(function() {
            if (!isInHoopeng()) {
                $('#downloadDiv').css('display', 'block');
            }
            var imgSrc = [];
            $('.doc-content img').removeAttr('width');
            $('.doc-content img').removeAttr('height');
            $('.doc-content img').each(function(idx){
                imgSrc.push($(this).attr('src'));
                $(this).bind("click",function(){
                    imageClick(imgSrc,idx);
                });

                //set lazy load attributes
                var oldSrc = $(this).attr("src");
                $(this).attr("src", "/images/blank.gif");
                $(this).attr("alt", "");
                $(this).attr("data-echo", oldSrc);
            });

            $('blockquote>p').unwrap();

            echo.init({
                offset: 100,
                throttle: 250,
                unload: false,
                callback: function (element, op) {
                    console.log(element, 'has been', op + 'ed')
                }
            });
        });
    </script>
</head>



<body ryt14206="1">
<div class="container">
    <div class="wrapper article-wrapper">
        <article id="article-wrapper" class="article-doc">
            <div id="a-doc" class="a-doc">
                <div class="a-container">
                    <h1><%= title%></h1>
                    <div class="a-info">
                        <span class="a-source"><%= fromWhere%></span>
                        <span class="a-date"><%= publicDate%></span>
                    </div>


                    <div id="doc-container">
                        <div class="a-tags">
                            <% for(var i in tagList) { %>
                            <% var item = tagList[i]; %>
                            <div class="a-tag"><a href="javascript:doFilter('filterNews','tag', '<%= item.tagId%>', '<%= item.tagName%>');" onclick=""><%= item.tagName%></a></div>
                            <% }%>
                            <div class="clear"></div>
                        </div>

                        <% if (clanInfo||userInfo){ %>
                        <div class="a-from">
                            <% if (clanInfo){ %>
                            <p>来自部落看吧：<span class="a-user"><a onclick="javascript:doFilter('jumpInfo','clan', '<%= clanInfo.id %>', '<%= clanInfo.get("title")%>');" href="#"><%= clanInfo.get('title')%></a></span></p>
                            <% }%>

                            <% if (userInfo){ %>
                            <p>发布者：<span class="a-clan"><a href="#" onclick="javascript:doFilter('jumpInfo','user', '<%= userInfo.id %>', '<%= userInfo.get("nickname")%>');"><%= userInfo.get('nickname')%></a></span></p>
                            <% }%>
                        </div>
                        <% }%>

                        <div class="article-content">
                            <div class="doc-content"> <%- newsContent %> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 30px"></div>
            <div class="download" id="downloadDiv" style="display: none;"><a href="javascript:doClient();" style="float:left;max-width:150px;margin-left: 1px">
                    <img src="/images/download1.png"></a>
                <a href="javascript:doClient();" style="float:right;max-width:89px;">
                    <img src="/images/download2.png"></a>
            </div>
        </article>
    </div>
</div>
</body>
</html>


