<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, minimal-ui" />
        <script src="/js/viewport.js"></script>
        <script src="/js/jquery-1.11.2.min.js"></script>
        <title><%= title%></title>
        <link rel="stylesheet" href="/stylesheets/style.css?2015012603" type="text/css">
        <script type="text/javascript">
            function isInHoopeng() {
                try {
                    if (external.appName() == "hoopeng") {
                        return true;
                    }
                } catch (e) {
                    return false;
                }

                return false;
            }

            function doFilter(methodName,type, objectId, objectName) {
                if (isInHoopeng()) {
                    external.callMethod(methodName,JSON.stringify({"type":type,"objectId":objectId,"objectName":objectName}));
                }
            }

            function imageClick(imgSrc,idx){
                if (isInHoopeng()) {
                    external.callMethod("imgSlide", JSON.stringify({"imgs": imgSrc, "idx": idx}));
                }
            }

        </script>
    </head>
    <body ryt14206="1">
        <div class="container">
            <div class="wrapper article-wrapper">
                <article id="article-wrapper" class="article-doc">
                    <div id="a-doc" class="a-doc">
                        <div class="a-container">
                            <h1><%= title%></h1>
                            <div class="a-info">
                                <span class="a-source"><%= fromWhere%></span>
                                <span class="a-date"><%= publicDate%></span>
                            </div>
                            <div id="doc-container">
                                <div class="a-tags">
                                    <% for(var i in tagList) { %>
                                        <% var item = tagList[i]; %>
                                        <div class="a-tag"><a href="javascript:doFilter('filterNews','tag', '<%= item.tagId%>', '<%= item.tagName%>');" onclick=""><%= item.tagName%></a></div>
                                    <% }%>
                                    <div class="clear"></div>
                                </div>
                                <div class="article-content">
                                    <div class="doc-content"> <%- newsContent %> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 30px"></div>
                    <div class="download" id="downloadDiv" style="display: none"><a href="javascript:alert('即将上线，敬请期待！');" style="float:left;max-width:150px;">
                            <img src="/images/download1.png"></a>
                        <a href="javascript:alert('即将上线，敬请期待！');" style="float:right;max-width:89px;">
                            <img src="/images/download2.png"></a>
                    </div>
                </article>
            </div>
        </div>
    </body>
    <script language="JavaScript">
        if (!isInHoopeng()) {
            $('#downloadDiv').css('display', 'block');
        }
        var imgSrc = [];
        $('.doc-content img').each(function(idx){
            imgSrc.push($(this).attr('src'));
            $(this).bind("click",function(){
                imageClick(imgSrc,idx);
            });

            //set lazy load attributes
            var oldSrc = $(this).attr("src");
            $(this).attr("src", "/images/blank.gif");
            $(this).attr("alt", "");
            $(this).attr("data-echo", oldSrc);
        })

    </script>

    <!-- load lazy load javascript -->
    <script src="/js/echo.min.js"></script>
    <script type="text/javascript">
        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            callback: function (element, op) {
                console.log(element, 'has been', op + 'ed')
            }
        });
    </script>
</html>


