<html>
<head>
    <meta charset="utf-8">
    <title>我分享了一个撒哈拉动态</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dynamic.css?2015033101">
    <link rel="stylesheet" type="text/css" href="/touchTouch/touchTouch.css?2015033101">
    <script src="/js/viewport.js?201503101"></script>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/common.js?2015040101"></script>
    <script src="/touchTouch/touchTouch.jquery.js?2015033103"></script>
    <script language="JavaScript">
        $(document).ready(function(){
            // Initialize the gallery
            $('#thumbs a').touchTouch();
        });
    </script>
</head>

<body>
<!--页面主体开始-->
<div class="ly_page cf">
    <!--发帖人开始-->
    <div class="ftUser cf">
        <%
            var userIcon = '/images/user.jpg';
            var userId = dynamic.get('user_id');
            if (userId && userId.get('icon')) {
                userIcon = userId.get('icon');
            }
            var userName = userId.get('nickname');
            var tagNames = dynamic.get('tagNames');
            var dynamicContent = dynamic.get('content')||"";
            var thumbs = dynamic.get('thumbs');
            var voice = dynamic.get('voice') || '';
            var voiceDuration = dynamic.get('duration') || 0;
            var location = dynamic.get('area') || '';
            var commentCount = dynamic.get('comment_count') || '';
            if (commentCount <= 0) {
                commentCount = '';
            }
            var upCount = dynamic.get('up_count') || '';
            var timeDisp = '';
            var timeSpace = Math.floor(((new Date()).getTime() - dynamic.createdAt.getTime())/1000/60);
            if (timeSpace >= 60) {
                if (timeSpace >= 60*24) {
                    timeDisp = Math.floor(timeSpace/60/24) + '天前';
                } else {
                    timeDisp = Math.floor(timeSpace/60) + '小时前';
                }
            } else {
                timeDisp = timeSpace + '分钟前';
            }
            var comments = dynamic.get('comments') || [];
        %>
        <img src="<%= userIcon %>" width="60" height="62" class="img" />
        <dl class="cf">
            <dt><%= userName %></dt>
            <dd>
                <% for (var i in tagNames) {%>
                    <span class="key">[<%= tagNames[i] %>]</span>
                <%}%>
            </dd>
        </dl>
        <ul>
            <% if (voice && voiceDuration) {%>
                <li><%=voiceDuration%>'<i></i></li>
            <%} else {%>
                <li></li>
            <%}%>
            <li><%=timeDisp%></li>
        </ul>
    </div>
    <!--发帖人结束-->
    <!--发帖内容开始-->
    <div class="ftContent">
        <div class="txt">
            <%= dynamicContent %>
        </div>
        <div class="img cf" id="thumbs">
            <% for (var i in thumbs) { %>
                <% if (thumbs.length > 1) {
                        var imageWidth = 192;
                        var imageHeigth = 192;
                        var imageView = thumbs[i] + '?imageView2/1/w/'+imageWidth+'/h/'+imageHeigth;
                %>
                        <a href="<%=thumbs[i]%>"><img src="<%=imageView%>"  /></a>
                <%} else {
                        var imageWidth = 400;
                        var imageHeigth = 296;
                        var imageView = thumbs[i] + '?imageView2/1/w/'+imageWidth+'/h/'+imageHeigth;
                %>

                        <a href="<%=thumbs[i]%>"><img src="<%=imageView%>" /></a>
                <%}%>
            <% } %>
        </div>
        <div class="info cf">
            <div class="dw">
                <i></i><%=location%>
            </div>
            <div class="btn">
                <a href="#" class="link1"><%=commentCount%></a>
                <a href="#" class="link2"><%=upCount%></a>
            </div>
        </div>
    </div>
    <!--发帖内容结束-->
    <!--评论开始-->
    <div class="plBox">
        <% for (var i in comments) {%>
        <%
            var currComment = comments[i];
            var commentUserName = currComment.get('user_id').get('nickname');
            var commentUserIcon = currComment.get('user_id').get('icon') || '/images/user.jpg';
            var replyUserName = '';
            if (currComment.get('reply_userid')) {
                replyUserName = currComment.get('reply_userid').get('nickname');
            }
            var commentContent = currComment.get('content');
         %>
        <dl class="cf">
            <dt><img src="<%=commentUserIcon%>" width="60" height="62" class="img" /></dt>
            <dd>
                <p class="name"><%=commentUserName%></p>
                <p class="info">
                    <% if (replyUserName.length > 0) {%>
                    回复 <span class="u"><%=replyUserName%>:</span>
                    <%}%>
                    <%=commentContent%>
                </p>
            </dd>
        </dl>
        <% } %>
    </div>
    <!--评论结束-->
</div>
<!--页面主体结束-->
<!-- 下载提示 -->
<div class="download">
    <a href="javascript:doClient();" style="float:left;max-width:150px;margin-left: 1px">
        <img src="/images/download1.png"></a>
    <a href="javascript:doClient();" style="float:right;max-width:150px;">
        <img src="/images/download2.png"></a>
</div>

</body>
</html>
